* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.xs {
  background-color: blue;
  color: white;
}

.os {
  background-color: red;
  color: white;
}

.container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 3rem;
}

.box {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}